@font-face {
  font-family: 'scubo-icon';
  src:  url('../fonts/scubo-icon.eot?c7sdko');
  src:  url('../fonts/scubo-icon.eot?c7sdko#iefix') format('embedded-opentype'),
    url('../fonts/scubo-icon.ttf?c7sdko') format('truetype'),
    url('../fonts/scubo-icon.woff?c7sdko') format('woff'),
    url('../fonts/scubo-icon.svg?c7sdko#scubo-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="scubo-icon-"], [class*=" scubo-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'scubo-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scubo-icon-magnifying-glass:before {
  content: "\e908";
}
.scubo-icon-aqualung:before {
  /* Use an SVG image instead of the font glyph for this icon.
     Keeps other icon font rules intact while allowing richer SVG rendering. */
  content: '' !important;
  display: inline-block;
  width: 1em;
  height: 1em;
  min-width: 1em;
  min-height: 1em;
  vertical-align: middle;
  background-image: url('/assets/images/services/prancha.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.scubo-icon-checked:before {
  content: "\e901";
}
.scubo-icon-scuba:before {
  content: "\e902";
}
.scubo-icon-scuba-diving:before {
  /* Use an SVG image instead of the font glyph for this icon.
     Keeps other icon font rules intact while allowing richer SVG rendering. */
  content: '' !important;
  display: inline-block;
  width: 1em;
  height: 1em;
  min-width: 1em;
  min-height: 1em;
  vertical-align: middle;
  background-image: url('/assets/images/services/surf.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.scubo-icon-snorkel:before {
  /* Use an SVG image instead of the font glyph for this icon.
     Keeps other icon font rules intact while allowing richer SVG rendering. */
  content: '' !important;
  display: inline-block;
  width: 1em;
  height: 1em;
  min-width: 1em;
  min-height: 1em;
  vertical-align: middle;
  background-image: url('/assets/images/services/casa.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.scubo-icon-snorkeling:before {
  content: "\e905";
}
.scubo-icon-swimming:before {
  /* Use an SVG image instead of the font glyph for this icon.
     Keeps other icon font rules intact while allowing richer SVG rendering. */
  content: '' !important;
  display: inline-block;
  width: 1em;
  height: 1em;
  min-width: 1em;
  min-height: 1em;
  vertical-align: middle;
  background-image: url('/assets/images/services/tripe.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.scubo-icon-plus-symbol:before {
  content: "\e907";
}
